.Box-Main {
    border: 1px solid #262626;
    max-width: 45vw;
    min-height: 20vh;
    max-height: 30vh;
    margin: 10px;
    text-align: left;
}

.Course-Title {
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Course-Image {
    border: 1px solid #262626;
    background-color: purple;
    width: inherit;
    height: 85px;
}

.Course-Names {
    text-align: inherit;
    margin-left: 10px;
    padding-bottom: 10px;
}